*{
    padding:0;
    margin:0;
    font-family: century gothic;
	text-decoration: none;
	

}


header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("images/7.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	clip-path: circle(180vh at 50% -80vh);
	background-color: black;
	
		

}


ul{
	list-style-type: none;
	float: right;
	margin-top: 20px;
	
}
ul .nav justify-content-end{
	background-color: black;
	
}
ul li{
	display: inline-block;
}
ul li a{
	color: #fff;
	padding: 10px 20px;
	font-weight: 990;
	font-size: 22px;
	cursor: pointer;
	
	
	
}

ul li a:hover{
	border-bottom: 2px solid #db0a40;
	color: white;
	
}
ul li.active a{
	
	border-bottom: 2px solid #db0a40;
	
	
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
	margin-top: -30px;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-20%,28%);
	
	
}
.title h1{
	color: #fff;
	font-size: 70px;
	
}
.button{
	position: absolute;
	top: 74%;
	left: 65%;
	transform: translate(-20%,28%);
	
}
.btn1{
	border-bottom: 2px solid #fff;
	padding: 10px 30px;
	color: #fff;
	
	
}
.btn1:hover {
	border-bottom: 2px solid #db0a40;
	color: white;
	transition: 0.6s ease;
	text-decoration: none;
}
.card-deck{
	margin: 20px;
	padding: 20px 150px 10px 150px;
	
}
.containerz
{
	max-width:100%;
}




